/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth gradient transitions */
:root {
  --bg-start: #2B86C5;
  --bg-middle: #784BA0;
  --bg-end: #FF3CAC;
}

.gradient-bg {
  background: linear-gradient(135deg, var(--bg-start), var(--bg-middle), var(--bg-end));
  transition: --bg-start 2s, --bg-end 2s;
}

/* Dynamic background colors */
.bg-default {
  --bg-start: #2B86C5;
  --bg-end: #FF3CAC;
}

.bg-correct {
  --bg-start: #6366f1;
  --bg-end: #22c55e;
}

.bg-incorrect {
  --bg-start: #6366f1;
  --bg-end: #ef4444;
}